<html>
  <head>
    <title>Emojify</title>
  </head>
  <body>
    <img id="bg" width=600px height=480px src="{{url_for('video_feed')}}"><br>
    <button id="click" name="capture"></button><br>
    <input type="file" id="browse" /><br>
    <img id="outputemojiangry" width=300px height=240px src=""><br>
    <img id="outputemojidisgusted" width=300px height=240px src=""><br>
    <img id="outputemojifearful" width=300px height=240px src=""><br>
    <img id="outputemojihappy" width=300px height=240px src=""><br>
    <img id="outputemojineutral" width=300px height=240px src=""><br>
    <img id="outputemojisad" width=300px height=240px src=""><br>
    <img id="outputemojisuprised" width=300px height=240px src=""><br>
    <button id="edit" name="edit"></button><br>
  </body>
</html>